hysteria2://{{ .User.Username }}:{{ .User.TrojanPassword }}@{{ .Vars.hysteria_domain }}:{{ .Vars.hysteria_port }}/?obfs=salamander&obfs-password={{ .Vars.hysteria_salamander_password }}&insecure=0&sni={{ .Vars.hysteria_domain }}