{
    "inbounds": [
        {
            "type": "hysteria2",
            "listen": "0.0.0.0",
            "listen_port": {{ .Vars.hysteria_port }},

            "users": {{ hysteriaUsers .Users }},
            "tls": {
                "enabled": true,
                "alpn": [
                    "h3"
                ],
                "certificate_path": "/opt/asgard/certs/live/{{ .Vars.hysteria_domain }}/fullchain.pem",
                "key_path": "/opt/asgard/certs/live/{{ .Vars.hysteria_domain }}/privkey.pem"
            },
            "obfs": {
                "type": "salamander",
                "password": "{{ .Vars.hysteria_salamander_password }}"
            }
        },
        {
            "type": "tuic",
            "listen": "0.0.0.0",
            "listen_port": {{ .Vars.tuic_port }},
            "users": {{ tuicUsers .Users }},
            "congestion_control": "bbr",
            "tls": {
                "enabled": true,
                "alpn": [
                    "h3"
                ],
                "certificate_path": "/opt/asgard/certs/live/{{ .Vars.hysteria_domain }}/fullchain.pem",
                "key_path": "/opt/asgard/certs/live/{{ .Vars.hysteria_domain }}/privkey.pem"
            }
        }
    ],
    "outbounds": [
        {
            "tag": "freedom",
            "type": "direct"
        },
        {
            "type": "block",
            "tag": "block"
        },
        {
            "type": "socks",
            "tag": "warp",
            "server": "warp",
            "server_port": 1080
        }
    ],
    "route": {
        "rule_set": [
            {
                "tag": "location_ru",
                "type": "remote",
                "format": "binary",
                "url": "https://{{ .Vars.assets_domain }}/ruleset/location_ru.srs"
            }
        ],
        "rules": [
            {
                "action": "sniff"
            },
            {
                "ip_is_private": true,
                "outbound": "block"
            },
            {
                "rule_set": "location_ru",
                "outbound": "warp"
            },
            {
                "domain_suffix": [
                    ".ru",
                    ".рф",
                    ".su"
                ],
                "outbound": "warp"
            }
        ]
    }
}