main:
  url: wss://{{ main_node_domain }}/nodes/{{ inventory_hostname }}/ws
  token: {{ nodes_secret_token }}

node:
{% if enable_ocserv | default(true) | bool %}
  ocserv_url: https://{{ ocserv_domain }}/
{% endif %}
  services:
{% if enable_sing_box | default(true) | bool %}
    sing-box:
      config_path: /etc/sing-box/config.json
      container_name: sing-box
      action: reload
{% endif %}
{% if enable_ocserv | default(true) | bool %}
    ocserv:
      config_path: /etc/ocserv/ocpasswd
      container_name: ocserv
      action: restart
{% endif %}
{% if enable_amnezia | default(true) | bool %}
    amnezia:
      config_path: /etc/amnezia/clients
      container_name: amnezia
      action: amnezia-sync
{% endif %}
