NODE_PORT={{ remnawave_app_port }}
SECRET_KEY="{{ remnawave_ssl_cert }}"
SERVER_IP="{{ ansible_host }}"
MTPROTO_SECRET="{{ mtproto_secret }}"
MTPROTO_DOMAIN="{{ mtproto_camouflage_domain }}"
HYSTERIA_PORT={{ hysteria_port }}
TUIC_PORT={{ tuic_port }}
{% if use_reverse_proxy | default(true) %}
OCSERV_DOMAIN="{{ ocserv_domain }}"
{% endif %}
SS_PORT={{ ss_port }}
PINGTUNNEL_KEY="{{ pingtunnel_key }}"
AMNEZIA_PORT="{{ amnezia_port }}"