NODE_PORT={{ remnawave_app_port }}
SECRET_KEY="{{ remnawave_ssl_cert }}"
SERVER_IP="{{ ansible_host }}"
MTPROTO_SECRET="{{ mtproto_secret }}"
MTPROTO_DOMAIN="{{ mtproto_camouflage_domain }}"
{% if enable_sing_box | default(true) | bool %}
HYSTERIA_PORT={{ hysteria_port }}
TUIC_PORT={{ tuic_port }}
SS_PORT={{ ss_port }}
{% endif %}
{% if enable_ocserv | default(true) | bool %}
OCSERV_DOMAIN="{{ ocserv_domain }}"
{% endif %}
{% if enable_pingtunnel | default(true) | bool %}
PINGTUNNEL_KEY="{{ pingtunnel_key }}"
{% endif %}
{% if enable_amnezia | default(true) | bool %}
AMNEZIA_PORT="{{ amnezia_port }}"
{% endif %}
